<!-- GitHub Sign in Modal -->
<div id="modal-github-signin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal-github-signin-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" id="btn-github-signin-close">×</button>
    <h3 id="modal-github-signin-label">
    	<i class="icon-enter" style="margin-bottom: 0"></i> &nbsp; Sign in to GitHub
    </h3>
  </div>
  

  <div class="modal-body">
  	<form class="form-inline">
     <input type="text" class="input-small" placeholder="Username" id="github-username">
     <input type="password" class="input-small" placeholder="Password" id="github-password">
     <span class="help-block">
      <small>
        Your username and password are never saved by <em>Markx</em>. <br>
        They are sent to <a href="http://github.com/">GitHub</a> directly from your browser via the javascript library <a href="https://github.com/michael/github">github.js</a>.
      </small>
    </span>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" id="btn-github-signin-cancel"><i class="icon-close"></i>&nbsp; Cancel</button>
  <button class="btn btn-primary" id="btn-github-signin-submit" type="submit"><i class="icon-checkmark-2"></i>&nbsp; Sign in</button>
</div>
</div>
