{% extends "base.html" %}

{% block header %}

<div class="span12" style="line-height: 40px;">
	<a class="brand" href="/" rel="tooltip" title="Karl Heinrich Marx, 1818 – 1883">
		<img class="img-rounded" alt="Markx" title="Markx" alt="Markx"src="/static/img/karl-marx-160x40.png">
	</a>
	<div class="btn-toolbar">
		<button href="#modal-github-signin" id="btn-github-signin-show" role="button" class="btn" data-toggle="modal" rel="tooltip" title="Sign in to GitHub">
			<i class="icon-github-2"></i>
		</button>	
		<button class="btn" id="btn-display-panels" rel="tooltip" title="Change display">
			<i class=" icon-screen"></i>
		</button>
		<div class="btn-group">
			<button class="btn dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="Citations and bibliography">
				<i class="icon-books"></i>
				<span class="caret"></span>
			</button>			
			<ul class="dropdown-menu">
				<li><a  href="#" id="btn-citations" rel="tooltip" title="Update citations list">
				Update citations</a></li>
				<li><a href='#' id="btn-save-bibtex">Save .bib</a></li>
				<li><a href='#' id="btn-download-bibtex">Download .bib</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button class="btn dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="Download and convert">
				<i class="icon-download-2"></i>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href='#' id="btn-download-md"  rel="tooltip" title="Download as Markdown">
					<i class="icon-file-css"></i> Markdown
				</a></li>
				<li><a href='#' id="btn-download-pdf"  rel="tooltip" title="Download as PDF">
					<i class="icon-file-pdf"></i> PDF
				</a></li>
				<li><a href='#' id="btn-download-docx"  rel="tooltip" title="Download as Word docx">
					<i class="icon-file-word"></i> Word
				</a></li>
				<li><a href='#' id="btn-download-epub"  rel="tooltip" title="Download as ePub">
					<i class="icon-book"></i> ePub
				</a></li>
				<li><a href='#' id="btn-download-html" rel="tooltip" title="Download as HTML">
					<i class="icon-file-xml"></i> HTML
				</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button class="btn dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="Change code highlighting theme">
				<i class="icon-code"></i>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				{% for style in config.PRETTIFY_STYLESHEETS %}
				<li><a href='#' class="btn-prettify">{{ style }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<button class="btn btn-inverse" id="word_counter" rel="tooltip" title="Word count" disabled>0</button>
		<br>
		<input class="input-small" type="text" id="user" placeholder="user" style="margin: auto">
		<select class="input-small" type="text" id="repo" style="margin: auto 5px">
		</select>
		<select class="input-small" type="text" id="branch" style="margin: auto 5px">
		</select>		
		<select class="input-small" type="text" id="path" placeholder="/path/to/file" style="margin: auto 5px">
		</select>
		
		<div class="btn-group">
		<button class="btn" id="btn-pull" rel="tooltip" title="Pull file and load to editor">
			<i class="icon-cloud-download"></i>
		</button>
		<button class="btn" id="btn-commit-push" rel="tooltip" title="Commit file and push">
			<i class="icon-cloud-upload"></i>
		</button>		
		</div>	
		<input class="input" type="text" id="commit-message" placeholder="Commit message: Fixed typos" style="margin: auto 5px">
	</div>
</div>
<div class="alert span10 offset1" id="general-alert" style="display: none">
	<button type="button" class="close" onclick="$('#general-alert').hide()">&times;</button>
	<div id="general-alert-message">
	</div>
</div>

<!-- GitHub Sign in Modal -->
<div id="modal-github-signin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal-github-signin-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modal-github-signin-label">Sign in to GitHub</h3>
  </div>
   

  <div class="modal-body">
  	<form class="form-inline">
	  <input type="text" class="input-small" placeholder="Username" id="github-username">
	  <input type="password" class="input-small" placeholder="Password" id="github-password">
	  </form>
 </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button type="submit" class="btn btn-primary" id="btn-github-signin-submit" data-dismiss="modal">Sign in</button>
  </div>
  

</div>

{% endblock header %}

{% block left %}


<div class="wmd-panel" id="editor-panel">
	<div id="wmd-button-bar-second"></div>
	<textarea class="wmd-input" id="wmd-input-second">
{{ config.DEFAULT_TEXT }}
	</textarea>
</div>
{% endblock left %}

{% block right %}
<div id="preview-panel">
	<div id="wmd-preview-second" class="wmd-panel wmd-preview"></div>
	<div id="bibtex_display" class="wmd-panel wmd-preview">
	</div>
</div>
{% endblock right %}	

{% block footer %}

<script type="text/javascript">
/* markdown editor */
var editor = init_markdown_editor();
$('#wmd-input-second').wordCount({counterElement:"word_counter"});

/* citations */
$("#btn-citations").click(updateCitations);
updateCitations();

/* code highlighting stuff */
$(function() {
	$('.btn-prettify').click(function() {
		$('#prettify-style').attr('href','{{ config.PRETTIFY_STYLESHEETS_FOLDER }}' + $(this).text() + '.css');
		prettyPrintOne();
	});
})
prettyPrintOne();

/* github api */
var github = null;
var user = null;
var repo = null;
function print_error(err) {
	alert(err['message']);
}

function loadUserRepos(username) {
	user = github.getUser(username);
	user.userRepos(username, function(err, repos) {
		if (err){
			print_error(err);
		} else {
			$('#repo').empty();
			jQuery.each(repos, function(index, item) {
				var reponame = $.trim(item['name']);
				var option = '<option value="' + reponame + '">' + reponame + '</option>';
				$('#repo').append(option);					
			});			
		}
	});
	$('#repo').focus();
}

function loadRepoBranches(username, reponame) {
	repo = github.getRepo(username, reponame);
	repo.listBranches(function(err, branches) {
		if (err){
			print_error(err);
		} else {
			$('#branch').empty();
			jQuery.each(branches, function(index, item) {
				var branchname = $.trim(item['name']);
				var option = '<option value="' + branchname + '">' + branchname + '</option>';
				$('#branch').append(option);	
			});			
		}
	});
}

function loadBranchPaths(branchname) {
	repo.getTree(branchname, function(err, tree) {
		if (err){
			print_error(err);
		} else {
			$('#path').empty();
			jQuery.each(tree, function(index, item){
				var path =$.trim(item['path']);
				var option = '<option value="' + path + '">' + path + '</option>';
				$('#path').append(option);	
			});
		}
	});
}

$(function() {
	$('#btn-github-signin-submit').click(function() {
		var username = $('#github-username').val();
		// TODO validate username and password
		github = new Github({
			username: username,
			password: $('#github-password').val(),
			auth: "basic"
		});
		$('#user').val(username);
		loadUserRepos(username);		
	});

	$('#repo').change( function() {
		var username = $('#user').val();
		var reponame = $('#repo').val();
		loadRepoBranches(username, reponame);
	});

	$('#branch').change(function() {
		var branchname = $('#branch').val();
		loadBranchPaths(branchname);
	});

	$('#btn-pull').click(function() {
		// TODO validate variables, check github nullity
		var user = $('#user').val();
		var reponame = $('#repo').val();
		var branch = $('#branch').val();
		var filepath = $('#filepath').val();

		var repo = github.getRepo(user, reponame);

		repo.read(branch, filepath, function (err, data) {
			if (err) {
				print_error(err);
			} else {
				$('textarea#wmd-input-second').val(data);
			}
		});
	});

	$('#btn-commit-push').click(function() {
		// TODO validate variables, check github nullity
		var user = $('#user').val();
		var reponame = $('#repo').val();
		var branch = $('#branch').val();
		var filepath = $('#filepath').val();
		var commit_msg = $('#commit-message').val();

		var repo = github.getRepo(user, reponame);

		var data = $('textarea#wmd-input-second').val();
		
		repo.write(branch, filepath, data, commit_msg, function (err) {
			if (err) {
				print_error(err);
			} 
		});
	});

/* files - maybe move to onclick in the buttons? */
	$('#btn-upload-md').click(function() {
		$('#fileinput').click();
		$("#general-alert-message").text('Please save after uploading')
	});
	$('#btn-load-md').click(function() {
		$("#general-alert-message").text('Not implemented')
	});
	$('#btn-save-md').click(function() {
		save_markdown(function(){});
	});
	$('#btn-download-md').click(function() {
		save_markdown(download);
	});
	$('#btn-save-bibtex').click(function() {
		save_bibtext(function(){});
	});
	$('#btn-download-bibtex').click(function() {
		save_bibtext(download);
	});
	$('#btn-download-pdf').click(function() {
		save_output('pdf', view);
	});
	$('#btn-download-docx').click(function() {
		save_output('docx', download);
	});
	$('#btn-download-epub').click(function() {
		save_output('epub', download);
	});
	$('#btn-download-html').click(function() {
		save_output('html', view);
	});

	document.getElementById('fileinput').addEventListener('change', readSingleFile, false);
})
/* display */
var panelsDisplayStatus = 'dual';
$(function() {
	$('#btn-display-panels').click(panelsDisplay);
})
</script>
<input type="file" id="fileinput" style="display:none;"/>
<textarea id="bibtex_input" style="display:none;">

</textarea>
{%endblock footer %}	