{% extends "base.html" %}

{% block header %}

<div class="span12" style="line-height: 40px;">
	<a class="brand" href="/" rel="tooltip" title="Karl Heinrich Marx, 1818 – 1883">
		<img class="img-rounded" alt="Markx" title="Markx" alt="Markx"src="/static/img/karl-marx-160x40.png">
	</a>
	<div class="btn-toolbar" id="general-toolbar">
		<button href="#modal-github-signin" id="btn-github-signin-show" role="button" class="btn" data-toggle="modal" rel="tooltip" title="Sign in to GitHub">
			<i class="icon-github-2"></i>
		</button>
		<button id="btn-github-signout" class="btn" rel="tooltip" title="Sign out of GitHub" style="display: none;">
			<i class="icon-exit"></i>
		</button>	
		<button class="btn" id="btn-display-panels" rel="tooltip" title="Change display">
			<i class=" icon-screen"></i>
		</button>
		<div class="btn-group">
			<button class="btn dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="Citations and bibliography">
				<i class="icon-books"></i>
				<span class="caret"></span>
			</button>			
			<ul class="dropdown-menu">
				<li><a  href="#" id="btn-citations" rel="tooltip" title="Update citations list">
				Update citations</a></li>
				<li><a href='#' id="btn-save-bibtex">Save .bib</a></li>
				<li><a href='#' id="btn-download-bibtex">Download .bib</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button class="btn dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="Download and convert">
				<i class="icon-download-2"></i>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href='#' id="btn-download-md"  rel="tooltip" title="Download as Markdown">
					<i class="icon-file-css"></i> Markdown
				</a></li>
				<li><a href='#' id="btn-download-pdf"  rel="tooltip" title="Download as PDF">
					<i class="icon-file-pdf"></i> PDF
				</a></li>
				<li><a href='#' id="btn-download-docx"  rel="tooltip" title="Download as Word docx">
					<i class="icon-file-word"></i> Word
				</a></li>
				<li><a href='#' id="btn-download-epub"  rel="tooltip" title="Download as ePub">
					<i class="icon-book"></i> ePub
				</a></li>
				<li><a href='#' id="btn-download-html" rel="tooltip" title="Download as HTML">
					<i class="icon-file-xml"></i> HTML
				</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button class="btn dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="Change code highlighting theme">
				<i class="icon-code"></i>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				{% for style in config.PRETTIFY_STYLESHEETS %}
				<li><a href='#' class="btn-prettify">{{ style }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<button class="btn btn-inverse" id="word_counter" rel="tooltip" title="Word count" disabled>0</button>
	</div>
	<div class="btn-toolbar" id="github-toolbar" style="display: none">	
		<button class="btn" rel="tooltip" title="GitHub links" disabled><i class="icon-github-2"></i></button>
		<input class="input-small" type="text" id="user" placeholder="user" style="margin: auto 5px" disabled>
		<select class="input-medium" type="text" id="repo" style="margin: auto 5px">
		</select>
		<button class="btn" id="repo-ok" rel="tooltip" title="Open repository">
			<i class="icon-folder-open"></i>
		</button>
		<select class="input-medium" type="text" id="branch" style="margin: auto 5px">
		</select>
		<button id="branch-ok" class="btn" rel="tooltip" title="Open branch">
			<i class="icon-folder-open"></i>
		</button>		
		<select class="input-medium" type="text" id="path" placeholder="/path/to/file" style="margin: auto 5px">
		</select>
		
		<div class="btn-group">
		<button class="btn" id="btn-pull" rel="tooltip" title="Pull file and load to editor">
			<i class="icon-cloud-download"></i>
		</button>
		<button class="btn" id="btn-commit-push" rel="tooltip" title="Commit file and push">
			<i class="icon-cloud-upload"></i>
		</button>		
		</div>	
		<input class="input" type="text" id="commit-message" placeholder="Commit message: Fixed typos" style="margin: auto 5px">
	</div>
</div>
<div class="alert span10 offset1" id="general-alert" style="display: none">
	<button type="button" class="close" onclick="$('#general-alert').hide()">&times;</button>
	<div id="general-alert-message">
	</div>
</div>

{% include 'github_signin.html' %}

{% endblock header %}

{% block left %}


<div class="wmd-panel" id="editor-panel">
	<div id="wmd-button-bar-second"></div>
	<textarea class="wmd-input" id="wmd-input-second">
{{ config.DEFAULT_TEXT }}
	</textarea>
</div>
{% endblock left %}

{% block right %}
<div id="preview-panel">
	<div id="wmd-preview-second" class="wmd-panel wmd-preview"></div>
	<div id="bibtex_display" class="wmd-panel wmd-preview">
	</div>
</div>
{% endblock right %}	

{% block footer %}

<script type="text/javascript">
function alert_message(message) {
	$('#general-alert-message').text(message);
	$('#general-alert').show();
}

/* markdown editor */
var editor = init_markdown_editor();
$('#wmd-input-second').wordCount({counterElement:"word_counter"});

/* citations */
$("#btn-citations").click(updateCitations);
updateCitations();

/* code highlighting stuff */
$(function() {
	$('.btn-prettify').click(function() {
		$('#prettify-style').attr('href','{{ config.PRETTIFY_STYLESHEETS_FOLDER }}' + $(this).text() + '.css');
		prettyPrintOne();
	});
})
prettyPrintOne();

/* github api */
var github = null;
var user = null;
var repo = null;

function loadUserRepos(username) {
	user = github.getUser(username);
	user.userRepos(username, function(err, repos) {
		if (err){
			alert_message(err['message']);
		} else {
			$('#repo').empty();
			jQuery.each(repos, function(index, item) {
				var reponame = $.trim(item['name']);
				var option = '<option value="' + reponame + '">' + reponame + '</option>';
				$('#repo').append(option);					
			});			
		}
	});
	$('#repo').focus();
}

function loadRepoBranches(username, reponame) {
	repo = github.getRepo(username, reponame);
	repo.listBranches(function(err, branches) {
		if (err){
			alert_message(err['message']);
		} else {
			$('#branch').empty();
			jQuery.each(branches, function(index, item) {
				var branchname = $.trim(item['name']);
				var option = '<option value="' + branchname + '">' + branchname + '</option>';
				$('#branch').append(option);	
			});			
		}
	});
}

function loadBranchPaths(branchname) {
	repo.getTree(branchname, function(err, tree) {
		if (err){
			alert_message(err['message']);
		} else {
			$('#path').empty();
			jQuery.each(tree, function(index, item){
				var path =$.trim(item['path']);
				var option = '<option value="' + path + '">' + path + '</option>';
				$('#path').append(option);	
			});
		}
	});
}

$(function() {
	$('#btn-github-signin-submit').click(function() {
		var username = $('#github-username').val();
		if (username) {
			// TODO validate username and password
			github = new Github({
				username: username,
				password: $('#github-password').val(),
				auth: "basic"
			});
			$('#user').val(username);
			loadUserRepos(username);
			$('#github-toolbar').show();
		} else {
			alert_message("GitHub signin failed");
		}
		$('#btn-github-signin-show').hide();
		$('#btn-github-signout').show();
	});

	$('#btn-github-signout').click(function() {
		github = null;
		user = null;
		repo = null;
		$('#github-toolbar').hide();
		$(this).hide();
		$('#btn-github-signin-show').show();
	});

	$('#repo-ok').click( function() {
		var username = $('#user').val();
		var reponame = $('#repo').val();
		loadRepoBranches(username, reponame);
	});

	$('#branch-ok').click(function() {
		var branchname = $('#branch').val();
		loadBranchPaths(branchname);
	});

	function checkVariablesForFileAction(branchname, filepath) {
		if (github == null) {
			alert_message("Please sign in to GitHub");
			return false;
		} 
		if (repo == null) {
			alert_message("Please load a repository");
			return false;
		}
		
		if (!branchname || !branchname.length) {
			alert_message("Please load a branch");
			return false;
		}

		if (!filepath || !filepath.length) {
			alert_message("Please choose a file");
			return false;
		}
		return true;
	}

	$('#btn-pull').click(function() {
		var branchname = $('#branch').val();
		var filepath = $('#path').val();
		
		if (!checkVariablesForFileAction(branchname, filepath)) {
			return false;
		}

		if ($('textarea#wmd-input-second').val().length) {
			if (!confirm("The contents of the editor panel will be deleted, contine?")) {
				return false;
			}
		}

		repo.read(branchname, filepath, function (err, data) {
			if (err) {
				alert_message(err['message']);
			} else {
				$('textarea#wmd-input-second').val(data);
			}
		});
	});

	$('#btn-commit-push').click(function() {
		var branchname = $('#branch').val();
		var filepath = $('#path').val();
		
		if (!checkVariablesForFileAction(branchname, filepath)) {
			return false;
		}

		var commit_msg = $('#commit-message').val();
		if (!commit_msg || !commit_msg.length) {
			alert_message("Please enter a commit message");
			$('#commit-message').focus();
			return false;
		}


		var data = $('textarea#wmd-input-second').val();
		if (!data || !data.length) {
			if (!confirm("Editor is empty, continue with commit?")) {
				return false;
			}
		}

		repo.write(branchname, filepath, data, commit_msg, function (err) {
			if (err) {
				alert_message(err['message']);
			} 
		});
	});

/* files - maybe move to onclick in the buttons? */
	$('#btn-upload-md').click(function() {
		$('#fileinput').click();
		alert_message('Please save after uploading');
	});
	$('#btn-load-md').click(function() {
		alert_message('Not implemented');
	});
	$('#btn-save-md').click(function() {
		save_markdown(function(){});
	});
	$('#btn-download-md').click(function() {
		save_markdown(download);
	});
	$('#btn-save-bibtex').click(function() {
		save_bibtext(function(){});
	});
	$('#btn-download-bibtex').click(function() {
		save_bibtext(download);
	});
	$('#btn-download-pdf').click(function() {
		save_output('pdf', view);
	});
	$('#btn-download-docx').click(function() {
		save_output('docx', download);
	});
	$('#btn-download-epub').click(function() {
		save_output('epub', download);
	});
	$('#btn-download-html').click(function() {
		save_output('html', view);
	});

	document.getElementById('fileinput').addEventListener('change', readSingleFile, false);
})
/* display */
var panelsDisplayStatus = 'dual';
$(function() {
	$('#btn-display-panels').click(panelsDisplay);
})
</script>
<input type="file" id="fileinput" style="display:none;"/>
<textarea id="bibtex_input" style="display:none;">

</textarea>
{%endblock footer %}	