<!--Markdown file input Modal -->
<div id="modal-md-file-input" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal-md-file-input-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="modal-md-file-input-label">
    	<i class="icon-file"></i> &nbsp; Choose a Markdown File
    </h3>
  </div>
  
  <div class="modal-body">
  	<form class="form-inline">
      <input type="file" id="md-file"/>
      <span class="help-block">
      <small>
        Please provide your file in <a href="http://daringfireball.net/projects/markdown/" target="_blank">Markdown</a> format.<br>
      </small>
    </span>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal"><i class="icon-close"></i>&nbsp; Cancel</button>
  <button class="btn btn-primary" id="btn-md-file-input-submit" data-dismiss="modal" type="submit"><i class="icon-checkmark-2"></i>&nbsp; Load</button>
</div>
</div>
